body { 
  background:radial-gradient(white,#ADD8E6);
}
h1
{
  font-family: cursive;
  text-align: center;
  font-size: 55px;
}
p.uvod {
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}
p.tekst {
    font-size: 20px;
}
p.albumi {
  font-size: 
  25px;
  font-weight: bold;
}
ol li {
  font-size: 20px;
}
ul li {
  background: black;
  padding: 30px;
  display: inline-block;
}
ul li:hover {
  font-size: 25px;
  color: white;
  background: grey;
  transform: scale(1.1);
}
a:link {
  font-size: 25px;
  color: white;
  text-decoration: none;
  cursor:pointer;
  padding: 30px;
}
a:visited {
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.val1 {
  position: absolute;
  bottom: 0px;
}
.val2 {
  position: absolute;
  bottom: 0px;
}
