body
{
  background-color: #ADD8E6;
}
p.prvi
{
  color: #e28743;
  text-align: left;
}
p.link
{
  text-decoration: none;
  color: #008000; 
}
ul li a, ul li a:visited{
  display: block;
  text-decoratio: none;
  padding: 2px 0px 2px 5px;
  width: 100px;
