body
{
  background-color: #ADD8E6;
}
h1
{
  text-align: center;
  font-size: 45px;
}
ul li {
  background: black;
  padding: 30px;
  display: inline-block;
}
li {
  display: list-item;
  unicode-bidi: isolate;
}
ul li:hover {
  font-size: 25px;
  color: white;
  background: grey;
  transform: scale(1.1);
}
a:link {
  font-size: 25px;
  color: white;
  text-decoration: none;
  cursor:pointer;
  padding: 30px;
}
a:visited {
  font-size: 25px;
  color: white;
  text-decoration: none;
}
form {
    margin-top: 50px;
}
